.aboutus {
  width: 100%;
}
.aboutus-intro {
  background-color: white;
  text-align: center;
  padding: 1.5em;
}
.aboutus-title {
  font-family: 'RG-regular';
  color: rgb(85, 85, 185);
  font-size: 1.5em;
  padding: 1em;
}
.aboutus-intro p {
  font-family: 'Quicksand';
  font-weight: 500;
}
.recette-cardbloc h2 {
  text-align: center;
  font-size: 1.6em;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #517b54;
  font-family: 'Dancing Script', cursive;
}

.aboutus-cardbloc {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  background-color: white;
  width: 100%;
  margin: auto;
}

.imgcontainer {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aboutus-card {
  height: 400px;
  max-height: 600px;
  box-shadow: 1px 1px 10px 1px rgb(182, 182, 182);
  background-color: white;
  position: relative;
  border-radius: 10px;
  display: block;
  transition-duration: 0.3s;
  margin: 10px;
}

.img-recette {
  width: 100%;
}

.aboutus-card-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'RG-italic';
  padding: 15px;
  color: red;
}

.aboutus-card-text {
  padding: 10px 20px 10px 20px;
  font-size: 0.9em;
  font-weight: 300;
  text-align: justify;
  color: var(--colorgrey);
  font-family: 'Quicksand';
}
.stats-post i,
.tag-post-recette i {
  color: #dd7e55;
  font-size: 1.2em;
}

.stats-post {
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.stats-post td {
  font-weight: 500;
  color: var(--colorgrey);
}

.stats-separator i {
  color: #d2dad3;
  font-size: 0.6em;
}
