@import 'react-alice-carousel/lib/alice-carousel.css';
.carousel {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel .carouselWindow {
  margin: 2rem auto;
  width: 80%;
  height: 70vh;
  background-color: rgb(90, 89, 87);
}
.carouselBox {
  border-radius: 25px;
}
.carousel h1 {
  font-size: 2rem;
  background-color: var(--greydark);
  border-radius: 20px;
  color: azure;
  text-align: center;
  padding: 1rem;
}
.carousel img {
  width: 100%;
  height: 70vh;
}
.alice-carousel__prev-btn-item {
  border: 1px solid;
  border-radius: 9999px;
  color: black;
  background-color: white;
  padding: 1rem;
}
.alice-carousel__next-btn-item {
  border: 1px solid;
  border-radius: 9999px;
  color: black;
  background-color: white;
  padding: 1rem;
}

.alice-carousel__dots {
  display: none;
}
.alice-carousel__prev-btn {
  position: relative;
  bottom: 15rem;
  text-align: left;
}
.alice-carousel__next-btn {
  position: relative;
  bottom: 15rem;
  text-align: right;
}
