@import 'react-alice-carousel/lib/alice-carousel.css';
.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerCarousel {
  background-image: url(https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.headerCarousel h1 {
  font-family: 'RG-regular';
  letter-spacing: 2px;
  font-size: 2rem;
  background-color: #282828e7;
  margin-top: 2rem;
  width: 20rem;
  height: 2rem;
  border-radius: 9999px;
  color: var(--blue);
  text-align: center;
  padding: 1rem;
}
.carouselWindow {
  margin: 2rem auto;
  width: 80%;
  height: 60vh;
  background-color: rgb(90, 89, 87);
}
.carouselBox {
  border-radius: 25px;
}
.carousel img {
  width: 100%;
  height: 60vh;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  font-size: 3rem;
  background-color: transparent;
  padding: 1rem;
  font-weight: bold;
  transition: 0.6s ease;
  color: #333;
}

.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
  background-color: var(--red);
  opacity: 0.8;
  color: var(--blue);
}

.alice-carousel__dots {
  display: none;
}
.alice-carousel__prev-btn {
  position: absolute;
  top: 45%;
  width: 75px;
  left: 0px;
}
.alice-carousel__next-btn {
  position: absolute;
  top: 45%;
  right: 0px;
  width: 75px;
}

@media (max-width: 720px) {
  .carouselWindow {
    width: 100%;
  }

  .alice-carousel__prev-btn-item,
  .alice-carousel__next-btn-item {
    background-color: transparent;
    padding: 1rem;
    font-weight: bold;
    transition: 0.6s ease;
    color: var(--blue);
  }
}
