.contact-form-page {
  min-height: 83vh;
}
.contact-form-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.contact-form-container {
  max-width: 1000px;
  height: 450px;
  width: 80%;
  position: relative;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  margin: 0 auto 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contact-form-bg {
  background-image: url('https://i.ibb.co/w0n2Qr6/Background-Yellow.png');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.contact-form-img {
  width: 30%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-form-img img {
  height: 100%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea,
#contact button[type='submit'] {
  font: 'Quicksand', Helvetica, Arial, sans-serif;
}

#contact {
  width: 1fr;
  height: 100%;
  background: #f9f9f9;
  padding: 25px;
}

#contact h1 {
  display: block;
  margin-bottom: 10px;
  color: var(--red);
}

#contact h3 {
  margin: 5px 0 15px;
  color: var(--greydark);
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 14px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
  font-family: 'Quicksand';
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: white;
  border: none;
  padding: 1em;
  background-color: #2098d1;
  cursor: pointer;
  width: 100%;
  font-size: 1.5em;
}
.hvr-sweep-to-bottom:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282828;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: #2098d1;
}
.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media screen and (max-width: 700px) {
  .contact-form-container {
    width: 100%;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0px;
  }

  #contact {
    height: 1fr;
    width: 100%;
    background: #f9f9f9;
    padding: 25px;
  }

  .contact-form-img {
    height: 50vh;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  #imgcontact {
    width: 100%;
    height: auto;
  }

  .contact-form-bg {
    display: none !important;
  }
}
