.site-footer {
  background-image: url(https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  box-shadow: 0px 0px 20px 10px rgb(17, 17, 17);
  padding: 1em 10% 1em 10%;
  line-height: 24px;
  color: #d1d1d1;
  font-family: 'Quicksand', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

a.href-footer,
a {
  color: inherit;
  text-decoration: none;
}
.href-footer:hover {
  color: #ec6a32;
}

.href-footer:visited {
  color: #929292;
}

.href-footer:visited:hover {
  color: #ec6a32;
}

.href-footer:active {
  color: #ac5029;
}

.site-footer h4 {
  color: #ec6a32;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font: small-caps 700 1em 'Quicksand', sans-serif;
}

.footer-credits,
.footer-social-link,
.footer-quick-links,
.footer-credits {
  padding: 1em 2em;
  background-color: #282828;
  opacity: 95%;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  font-weight: 300;
  font-size: 0, 7em;
}

.separator {
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: #282828 2px solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.copyrights {
  background-color: #282828;
  font-size: 0.7em;
  text-align: center;
}

@media (min-width: 650px) {
  .footer-container {
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }
  .footer-credits {
    min-width: 150px;
  }

  .footer-social-link {
    min-width: 150px;
  }

  .footer-quick-links {
    min-width: 150px;
  }
  .footer-credits,
  .footer-social-link,
  .footer-quick-links,
  .footer-credits {
    max-width: 250px;
    text-align: center;
  }

  .footer-container ul {
    display: inline-block;
    text-align: left;
  }

  .copyrights {
    margin: 1em;
  }
}
