.gamepage {
  width: 100%;
  margin: auto;
}

.gamepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 1em;
}

h2.gamepage-title {
  font-size: 1.3em;
  text-align: center;
  color: var(--yellow);
  margin-bottom: 10px;
  font-family: 'RG-regular';
}
.game-rules {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.rules-text {
  padding: 15px;
  width: 50%;
  height: 100px;
  text-align: flex-end;
  background-color: transparent;
}

.rules-heropicture {
  width: 150px;
}
.rules-container {
  width: 1fr;
}

.game-window {
  width: 100%;
  background-color: white;
  height: 300px;
}

.rulesbubble {
  width: 100%;
}

p.bubble {
  position: relative;
  width: 1fr;
  text-align: center;
  line-height: 1.4em;
  background-color: #fff;
  border: 6px solid #333;
  border-radius: 30px;
  font-family: 'Quicksand';
  padding: 20px;
  font-size: large;
}

p.bubble:before,
p.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

p.speech:before {
  left: -50px;
  bottom: 50px;
  border: 25px solid;
  border-color: transparent #333 #333 transparent;
}

p.speech:after {
  left: -35px;
  bottom: 56px;
  border: 20px solid;
  border-color: transparent white white transparent;
}
