nav {
  position: fixed;
  width: 100%;
  z-index: 100;
 
  border-bottom: 1px dotted #f1f1f1;
  display: flex;
}
.header {
  width: 100%;
  height: 5rem;
}
  .header .logo {
  width: 7rem;
  height: 7rem;
  z-index: 200;
  margin-left: 2rem;
}
.hamburger-btn {
  position: fixed;
  top: 0.2rem;
  right: 2rem;
  width: 3rem;
  z-index: 200;
  display: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.hamburger {
  width: 50px;
  background-color: var(--red);
  padding: 0.7rem;
  border-radius: 9999px;
}

.liste-nav {
  background-image: url(https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  box-shadow: 0px 5px 20px 10px rgb(17, 17, 17);

  filter: grayscale(30%);
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: fixed;
  z-index: 100;
}
.item-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-nav a {
  font-size: 2rem;
  font-family:RG-regular ;
  color: var(--blue);
  text-decoration: none;
  margin: 1rem;
  text-align: center;
  background-color: #282828;
  border-radius: 25px;
  padding: 1rem;
}

.item-nav a::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 6px;
  background: var(--red);
  transition: all 0.2s ease-in-out;
}
.item-nav a:hover::after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .hamburger-btn {
    display: block;
  }
  .liste-nav {
    display: none;
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
  }
  .liste-nav.showMenu {
    display: block;
  }
  .item-nav {
    height: 70px;
  }
  .item-nav:nth-child(1) {
    margin-top: 3rem;
  }
  .header .logo {
    width: 5rem;
    height: 5rem;
  }
}
