@media screen and (max-width: 700px) {
  .answer-section {
    display: flex !important;
    flex-direction: column;
    grid-gap: 10px !important;
  }

  .container {
    width: 40% !important;
  }
}
.game {
  background-color: grey;
  margin: auto;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.question {
  background-color: blue;
  width: 850px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 20px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 30px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

button {
  width: 100%;
  font-size: 20px;
  color: rgb(22, 120, 162);
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 5px solid yellow;
  cursor: pointer;
  height: 50px;
}

.correct {
  background-color: #7df77d;
}

.incorrect {
  background-color: #f76060;
}

button:hover {
  border: 5px solid #555e7d;
}
