@media screen and (max-width: 700px) {
  .answer-section {
    display: flex !important;
    flex-direction: column;
    grid-gap: 10px !important;
  }

  .container {
    width: 40% !important;
  }
}
.game {
  background-color: white;
  margin: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
  position: relative;
}

.question {
  background-color: #067bc2;
  width: 83rem;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #333333;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 420px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 20px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 40px;
}

.answer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image-personnage img {
  width: 15rem;
  height: 20rem;
  border-radius: 20px;
  margin-right: 1rem;
}

.answer-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.answer-section button {
  width: 100%;
  font-size: 20px;
  color: rgb(22, 120, 162);
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  display: flex;
  padding: 35px;
  justify-content: center;
  align-items: center;
  border: 5px solid #ec6a32;
  cursor: pointer;
  height: 3rem;
  margin-top: 40px;
}

.answer-section .correct {
  background-color: #7df77d;
}

.answer-section .incorrect {
  background-color: #f76060;
}

.answer-section button:hover {
  border: 5px solid #067bc2;
}

.bulle {
  height: 230px;
  margin-bottom: 345px;
  position: absolute;
  margin-left: 170px;
}

.score {
  font-size: 27px;
}
