.find-word-box {
  display: flex;
}

.find-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 1em;
  height: 75px;
  color: var(--blue);
}
.find-word h2 {
  margin: 0.3em;
  color:rgba(217, 229, 235, 0.966);
}

.letter {
  width: 40px;
  text-align: center;
  background-color: var(--greylight);
  margin: 0px 2px 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-box {
  font-family: 'TextHero-regular';
  font-size: 2.5em;
  color: var(--red);
}
