.new-game-container {
  margin: 3rem auto;
  position: fixed;
  width: 50%;
  height: 50%;
  top: 5rem;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgba(41, 146, 187, 0.966);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.new-game-container h1 {
  margin: 2rem 0 6rem;
  color: #ec6a32;
  text-shadow:0 0 0.2em rgb(18, 21, 233);
}
.btn-game {
  border: 1px solid;
  padding: 1rem;
  width: 30%;
  border-radius: 9999px;
  background-color: #ec6a32;
  cursor: pointer;
}
