.new-game-container {
  margin-top: 2rem;
  left: 10%;
  position: fixed;
  width: 70%;
  height: 45rem;
  top: 10rem;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgba(109, 101, 101, 0.966);
}

.btn-game {
  border: 1px solid;
  padding: 1rem;
  border-radius: 9999px;
  background-color: #ec6a32;
  cursor: pointer;
}
