.sauvetage-img-container {
  text-align: center;
  width: 25rem;
  height: 28rem;
}

.sauvetage-img-container img {
  object-fit: contain;
  width: 100%;
}

@media (max-width: 800px) {
  .sauvetage-img-container {
    width: 50%;
    height: auto;
  }

  .sauvetage-img-container img {
    object-fit: contain;
  }
}
