.game-over {
  margin: 2rem auto;
  width: 50%;
  height: 62vh;
  margin-top: 4rem;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(217, 229, 235, 0.966);
}
.game-over h1 {
  margin: 2rem 0 2rem;
  color: #ec6a32;
  text-shadow:0 0 0.2em rgb(18, 21, 233);
}
.btn-win {
  margin: 2rem 0 2rem;
  border: 1px solid;
  padding: 1rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #ec6a32;
  cursor: pointer;
}
