.game-over {
  margin: 2rem auto;
  width: 50%;
  height: 62vh;
  margin-top: 4rem;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(217, 229, 235, 0.966);
  position: relative;
}

.btn-win {
  position: relative;
  bottom: 10rem;
  right: 13rem;
  border: 1px solid;
  padding: 1rem;
  width: 30%;
  border-radius: 9999px;
  background-color: #ec6a32;
  cursor: pointer;
}

.game-over .img-wonder {
  width: 28rem;
  height: 28rem;
  margin-left: 20rem;
  margin-top: 12rem;
}

.game-over .bulle {
  width: 28rem;
  height: 20rem;
  margin-left: 0rem;
}

@media (max-width: 1440px) {
  .game-over {
    width: 80%;
  }
  .game-over .bulle {
    width: 20rem;
    height: 15rem;
    margin-left: 6rem;
  }
  .game-over .img-wonder {
    width: 28rem;
    height: 28rem;
    margin-left: 15rem;
    margin-top: 12rem;
  }
  .btn-win {
    bottom: 8rem;
    right: 7rem;
  }
}
@media (max-width: 1024px) {
  .game-over {
    width: 85%;
  }
  .game-over .bulle {
    width: 15rem;
    height: 10rem;
    margin-left: 6rem;
  }
  .game-over .img-wonder {
    width: 22rem;
    height: 22rem;
    margin-left: 10rem;
    margin-top: 5rem;
  }
  .btn-win {
    bottom: 0rem;
    right: 0rem;
  }
}
@media (max-width: 768px) {
  .game-over .bulle {
    width: 15rem;
    height: 10rem;
    margin-left: 6rem;
  }
  .game-over .img-wonder {
    width: 22rem;
    height: 22rem;
    margin-left: 10rem;
    margin-top: 5rem;
  }
  .btn-win {
    bottom: 0rem;
    right: 0rem;
  }
}
