@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@font-face {
  font-family: 'RG-bold';
  src: url('./fonts/roguehero-bold-webfont.woff2') format('woff2'),
    url('./fonts/roguehero-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RG-italic';
  src: url('./fonts/roguehero-italic-webfont.woff2') format('woff2'),
    url('./fonts/roguehero-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RG-regular';
  src: url('./fonts/roguehero-regular-webfont.woff2') format('woff2'),
    url('./fonts/roguehero-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextHero-regular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2')
      format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
}

:root {
  --greydark: #333333;
  --greylight: #E0E0E0;
  --red: #EC6A32;
  --blue: #067BC2;
}
