@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@font-face {
  font-family: 'RG-bold';
  src: url('roguehero-bold-webfont.woff2') format('woff2'),
    url('roguehero-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RG-italic';
  src: url('roguehero-italic-webfont.woff2') format('woff2'),
    url('roguehero-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RG-regular';
  src: url('roguehero-regular-webfont.woff2') format('woff2'),
    url('roguehero-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextHero-regular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2')
      format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
}

:root {
  --greydark: #282828;
  --greylight: #f5f5f5;
  --red: #e43825;
  --blue: #1678a2;
  --yellow: #ffd700;
  --fontlight: 'Quicksand', sans-serif 300;
  --fontregular: 'Quicksand', sans-serif 500;
  --fontbold: 'Quicksand', sans-serif 700;
  --title: 'RG-regular', sans-serif;
  --titlebold: 'RG-bold', sans-serif;
  --titleitalic: 'RG-italic', sans-serif;
}
